.container {
  padding: 20px 0 0 20px;
  display: flex;
}
.search {
  position: absolute;
  top: 60px;
  left: 20px;
}
.search input {
  margin-bottom: 40px;
}
.title {
  text-align: center;
  color: rgb(241, 239, 239);
  font-size: 50px;
  text-shadow: 2px 2px 4px rgb(170, 170, 170);
  letter-spacing: 0.05em;
}
