.btns {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}
.btns button {
  padding: 10px 15px;
  border-radius: 8px;
  color: white;
  font-size: 24px;
  background-color: green;
  transition: all 0.4s ease;
}
.btns button:hover {
  transform: scale(0.95);
}
.btns button:first-child {
  background-color: red;
}
h2 span {
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  text-decoration: underline;
}
